:root.theme-light {
  --bg-color: #fff1f7;
  --text-color: #ff0070;
  --accent-color: #ff0070;
  --decor-bg: #ff0070;
  --decor-text: #fff1f7;
  --bg-image: url('../../images/cover-image-light.png');
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --text-color: #ff0070;
    --accent-color: #ff0070;
    --decor-bg: #ff0070;
    --decor-text: #fff1f7;
    --bg-image: url('../../images/cover-image-light.png');
  }
}

:root.theme-light .header__rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root:not(.theme-dark) .header__rec {
    display: none;
  }
}